@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  color: #222222;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
}

.icon-reload {
  width: 30px;
  margin: 15px;
  background-image: url('../assets/reload.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-list {
  width: 100%;
}

.user {
  display: flex;
  margin: 15px auto;
  width: 100%;
  justify-content: space-between;
}

.user-detail {
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.user-icon {
  width: 25%;
}

.user-icon img {
  width: 100%;
}

.user-name {
  width: 50%;
}

.user-gender {
  width: 25%;
}

.male {
  color: blue;
}

.female {
  color: pink;
}

.user-age {
  width: 25%;
}

@media screen and (max-width: 640px) {
  .user {
    font-size: 14px;
  }
  .user-24h-change {
    font-size: 12px;
  }
}

.footer {
  width: 100%;
  font-family: monospace;
  font-size: 12px;
  text-align: center;
  padding: 50px 0;
  opacity: 0.5;
}

/*
  LOADING SPINNER ANIMATION
  by Tobias Ahlin @tobiasahlin

  http://tobiasahlin.com/spinkit/
 */

.spinner {
  width: 40px;
  height: 40px;
  background-color: #222222;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
