.wrapper {
  width: 100%;
  height: 100%;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
}

.icon-reload {
  width: 30px;
  margin: 15px;
  background-image: url('../assets/reload.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-list {
  width: 100%;
}

.user {
  display: flex;
  margin: 15px auto;
  width: 100%;
  justify-content: space-between;
}

.user-detail {
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.user-icon {
  width: 25%;
}

.user-icon img {
  width: 100%;
}

.user-name {
  font-size: 20px;
  width: 50%;
}

.user-gender {
  width: 25%;
}

.male {
  color: #00bdff;
}

.female {
  color: #ff9be2;
}

.user-age {
  width: 25%;
}

@media screen and (max-width: 640px) {
  .user {
    font-size: 14px;
  }
  .user-24h-change {
    font-size: 12px;
  }
}

.footer {
  width: 100%;
  font-family: monospace;
  font-size: 12px;
  text-align: center;
  padding: 50px 0;
  opacity: 0.5;
}
