@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  color: #222222;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
